<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name, id: :school_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %><br>
    <%= form.text_field :last_name, id: :school_name %>
  </div>

  <div class="field">
    <%= form.label :email %><br>
    <%= form.text_field :email, id: :school_address %>
  </div>

  <div class="field">
    <%= form.label :password %><br>
    <%= form.text_field :password, id: :school_address %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
