<div id="<%= dom_id enrollment %>">
  Status : <%= enrollment.status %> | <span><strong>Batch:</strong> <%= enrollment.batch.name %></span> | <span><strong>Student:</strong> <%= enrollment.student.name %></span> | <%= link_to "Show this course", enrollment %>
</div>
