<%= form_with(model: school_admin) do |form| %>
  <% if school_admin.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(school_admin.errors.count, "error") %> prohibited this school_admin from being saved:</h2>

      <ul>
        <% school_admin.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :school_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :school_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :school_address %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :school_address %>
  </div>

  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
