<%= form_with(model: school) do |form| %>
  <% if school.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
        <% school.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :school_name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address, id: :school_address %>
  </div>

  <div class="field">
    <%= form.label :school_admin_id, "School Admin" %>
    <%= form.collection_select :school_admin_id, @school_admins, :id, :name, include_blank: true %>
  </div>

  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
