<div id="<%= dom_id school %>">
  Name: <%= school.name %> | <span><strong>Address:</strong> <%= school.address %></span> | <span><strong>School Admin:</strong> <%= school.school_admin.name %></span> | <%= link_to "Show this school", school %>
</div>
