<div id="<%= dom_id school %>">
  Name: <%= school.name %> | <span>Address: <%= school.address %></span> | <span>School Admin: <%= school.school_admin.name %></span> | <%= link_to "Show this school", school %>
</div>
